/* input {
    border-color: rgb(22, 155, 93);
    border-radius: 4px;
    border-width: 3px;
    border-style: solid;
    padding: 3px;
    font-family: sans-serif;
    font-size: 15px;
    width: 100px;
}

input:focus {
    outline: 2px solid rgb(14, 97, 58);
} */

input {

    background-color: rgb(235, 235, 235);
    border-color: rgb(170, 170, 170) ;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    padding: 6px;
    font-family: sans-serif;
    font-size: 15px;
    width: 100px;
}