* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculadora {
    margin-top: 25px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-botoes {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

label {
    margin-top: 20px;
    font-family: sans-serif;
}

.resultado {
    margin-top: 15px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resultado h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.resultado h3 {
    font-size: 22px;
    font-weight: normal;
}

.result-green {
    background-color: rgb(22, 155, 93);
    color: #FFF;
}

.result-yellow {
    background-color: rgb(217, 230, 48);
    color: #000;
}

.result-red {
    background-color: rgb(173, 33, 64);
    color: #FFF;
}

.btn-calcular:hover {
    background-color: rgb(18, 128, 77);
}

.btn-limpar:hover {
    background-color: rgb(170, 170, 170);
}